:root {
  --header-height: 1.75rem;
}

/* Pipeline graph adjustments */
#main-panel .app-build__grid > #graph {
  height: 8rem !important;
}

.PWGx-PipelineGraph-container {
  margin: 2% 0 0 -1.5rem;
}

.react-transform-component.transform-component-module_content__FBWxo {
  scale: 0.7;
}

/* Reset card heights and spacing */
.app-build__grid > * {
  height: unset !important;
  min-height: unset !important;
  margin-bottom: 2%;
}

/* Console widget height */
.app-build__grid .jenkins-card__content .app-console-output-widget {
  max-height: 50rem; /* or 300px if desired */
  margin: 0 -1rem -1rem;
  padding: 0 1rem 1rem;
  overflow-y: auto;
}

/* Hide verbose pipeline nodes */
.pipeline-annotated,
.pipeline-new-node {
  display: none;
}
